.panda-bg-info{
    background-color:#fceae8;
}
.panda-bg-warning{
    background-color: #ffa500;
}
.panda-bg-success{
    background-color: #da70d6;
}
.panda-bg-danger{
    background-color: #0000ff;
}
.panda-btn-danger{
    background-color: #ff3b89;
    color: white;
border-radius: 8px;
padding: 9px 25px;
border: none;

}